@import url("fonts.css");
@import url("https://fonts.googleapis.com/css?family=Epilogue:regular,600,800&display=swap");

/* Скидання стилів */
@import url("reset.css");

body {
  font-family: "Gilroy", sans-serif;
  background-color: #5f6186;
}

.wrapper {
  /* min-height: 100%; */
  overflow: hidden;
  margin: 0 auto;
}
.header-block__title {
  font-size: 56px;
  font-weight: 700;
  color: #ecd8ce;
  text-align: center;
  text-decoration: underline;
  text-shadow: 2px 2px 5px #40378d;
  letter-spacing: 5px;
  line-height: 320%;
  text-transform: uppercase;
}

.transform__container>div:not(:last-child) {
  margin-bottom: 15px;
}

.transform__container {
  padding-block: 40px;
}

.transform__items,
.car-block {
  background: #28293E;
  position: relative;
  max-width: 1200px;
  height: 100%;
  padding: 20px;
  margin-inline: auto;
}

.transform__items {
  text-align: center;
}

.transform__title {
  color:#cfcccc;
  font-family: Epilogue;
  font-size: 40px;
  font-weight: 800;
  line-height: 48px;
  text-shadow: 2px 2px 5px #a099e9;
}

.transform__item {
  width: 250px;
  height: 250px;
  margin: 5px;
  background-color: rgba(255, 255, 255, 0.2);
  display: inline-block;
  text-align: center;
  border-radius: 5%;
  position: relative;
}

.transform__item:hover {
  z-index: 10;
}

.transform__front {
  width: 250px;
  height: 250px;
  background-color: #5f6186;
  padding-top: 70px;
  border-radius: 5%;
  position: absolute;
}

.transform__front span {
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: #270742;
  text-shadow: 5px 6px 8px #40378d;
  /* letter-spacing: 5px; */
  /* line-height: 200%; */
  display: block;
  min-height: 70px;
  margin-bottom: 10px;
}

.transform__front p {
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  color: #43007a;
  text-shadow: 2px 2px 5px #40378d;
  /* letter-spacing: 5px; */
  /* font-family: Epilogue; */
  /* line-height: 200%; */
}

.transform__front--translate:hover {
  transform: translate(10px, 20px);
  transition: all 0.3s;
  background-color: #6b6ea3;
  vertical-align: middle;
}

.transform__front--translate-x:hover {
  transform: translateX(20px);
  transition: all 0.3s;
  background-color: #6b6ea3;
}

.transform__front--translate-y:hover {
  transform: translateY(20px);
  transition: all 0.3s;
  background-color: #6b6ea3;
}

.transform__front--scale:hover {
  transform: scale(-1, 2);
  background-color: #6b6ea3;
  /* transition: all 0.3s; */
}

.transform__front--scale-n:hover {
  transform: scale(0.8);
  background-color: #6b6ea3;
  transition: all 0.3s;
}

.transform__front--scale-x:hover {
  transform: scaleX(2);
  background-color: #6b6ea3;
  transition: all 0.3s;
}

.transform__front--scale-y:hover {
  transform: scaleY(0.5);
  background-color: #6b6ea3;
  transition: all 0.3s;
}

.transform__front--skew:hover {
  transform: skew(-10deg, 10deg);
  transition: all 0.3s;
  background-color: #6b6ea3;
}

.transform__front--skew-x:hover {
  transform: skewX(10deg);
  transition: all 0.3s;
  background-color: #6b6ea3;
}

.transform__front--skew-y:hover {
  transform: skewY(-10deg);
  transition: all 0.3s;
  background-color: #6b6ea3;
}

.transform__front--rotate:hover {
  transform: rotate(30deg);
  transition: all 0.3s;
  background-color: #6b6ea3;
}

.transform__front--rotate-x:hover {
  transform: rotateX(90deg);
  transition: all 0.6s;
  background-color: #6b6ea3;
}

.transform__front--rotate-y:hover {
  transform: rotateY(90deg);
  transition: all 0.6s;
  background-color: #6b6ea3;
}

.transform__front--matrix:hover {
  transform: matrix(0.4, 0, 0.5, 1.2, 60, 10);
  transition: all 0.6s;
  background-color: #6b6ea3;
}

.transform__front--transform-origin:hover {
  transform-origin: 0 0;
  transform: rotate(45deg);
  transition: all 0.6s;
  background-color: #6b6ea3;
}


.transform__front--translate3d:hover {
  transform: translate3d(-40px, -40px, 50px);
  transition: all 0.6s;
  background-color: #6b6ea3;
}

.transform__front--scale3d:hover {
  transform: scale3d(3, 1.5, 5);
  transition: all 0.6s;
  background-color: #6b6ea3;
}

.transform__front--rotate3d:hover {
  transform: rotate3d(30, 50, 20, 40deg);
  transition: all 0.6s;
  background-color: #6b6ea3;
}

.transform__front--matrix3d:hover {
  transform: matrix3d(
    -0.2, 2, 0, 0,
    -2, 2, -1, 0,
    0, 0, 1, 0,
    -2, 0, 2, 1);
  transition: all 0.6s;
  background-color: #6b6ea3;
}

.card {
  display: inline-block;
}

.card__block {
  position: relative;
  perspective: 800px;
}

img {
  width: 330px;
  border-radius: 4%
} 

.card__front,
.card__back {
  transition: all 0.3s;
}

.card__front {
  transform: rotateY(0deg);  
}

.card__back {
  transform: rotateY(180deg);
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.card__block:hover .card__front {
  transform: rotateY(-180deg);
  backface-visibility: hidden;
}

.card__block:hover .card__back {
  transform: rotateY(0deg);
  backface-visibility: visible;
}

/* .transform__items .card {
  margin-top: 15px;
} */





.car-block__container {
  background: url(../img/background.jpg) 0 0 / cover no-repeat;
  display: inline-block;
  margin: 0 auto;
  position: relative;
  height: 800px;
  width: 100%;
}

.car-block__details {
  margin: 0 auto;
  position: absolute;
  top: 40%;
  left: 50%;
  perspective: 300px;
  perspective-origin: center;
  width: 500px;
  height: 600px;
}

.car-block__body-top {
  width: 200px;
  height: 120px;
  background-color: rgb(235, 33, 33);
  border-radius: 50px 180px 0px 0px;
  transform: translateY(20px);
  border: 12px solid rgba(207, 24, 24, 0.5);
}

.car-block__body-middle {
  width: 188px;
  height: 131px;
  background-color: rgb(235, 33, 33);
  /* border-radius: 0% 0% 5% 5%; */
  position: relative;
  top: 8px;
  left: 9px;
}

.car-block__body-window {
  position: absolute;
  width: 135px;
  height: 100px;
  background-color: rgb(135, 189, 214);
  border-radius: 20px 70px 10px 20px;
  transform: translateY(20px);
  top: 5%;
  right: 67%;
  z-index: 2;
  border: 3px solid rgba(0, 0, 0, 0.253);
}

.car-block__hood {
  width: 135px;
  height: 55px;
  background-color: rgb(235, 33, 33);
  border-radius: 15% 70% 3% 8%;
  position: absolute;
  top: 22%;
  right: 35%;
  transform: translateX(-10px);
  border: 12px solid rgba(207, 24, 24, 0.5);
}

.car-block__bumper-front {
  width: 175px;
  height: 85px;
  background-color: rgb(235, 33, 33);
  border-radius: 44% 20% 15% 13%;
  position: absolute;
  top: 30%;
  right: 30%;
  transform: translateX(-10px);
  border: 12px solid rgba(207, 24, 24, 0.5);
}

.car-block__light {
  width: 10px;
  height: 20px;
  background-color: rgba(204, 17, 17, 0.726);
  border-radius: 35% 35% 35% 35%;
  position: absolute;
  top: 33%;
  right: 31.5%;
  z-index: 2;
}

.car-block__headlight {
  width: 6px;
  height: 15px;
  background-color: rgb(226, 222, 0);
  border-radius: 35% 35% 35% 35%;
  position: absolute;
  top: 33.5%;
  right: 31%;
  z-index: 3;
}

.car-block__handle{
  width: 25px;
  height: 6px;
  background-color: rgb(128, 150, 163);
  border-radius: 35% 35% 35% 35%;
  position: absolute;
  top: 28%;
  right: 90%;
  z-index: 2;
  border: 1px solid grey;
}

.car-block__trunk {
  width: 300px;
  height: 140px;
  background-color: rgb(235, 33, 33);
  border-radius: 5% 0% 5% 5%;
  position: absolute;
  top: 21%;
  right: 96%;
  transform: translateX(-10px);
  border: 12px solid rgba(207, 24, 24, 0.5);
}

.car-block__bumper-back {
  position: absolute;
  top: 225px;
  right: 480px;
  transform: translate(-50%, -50%);
  height: 90px;
  width: 150px;
  border-radius: 150px 150px 15px 15px;
  background-color: rgb(235, 33, 33);
  border: 12px solid rgba(207, 24, 24, 0.5);
}

.car-block__threshold {
  width: 225px;
  height: 10px;
  background-color: rgb(56, 49, 49);
  border-radius: 15% 15% 15% 15%;
  position: absolute;
  top: 43%;
  right: 66%;
  z-index: 2;
  border: 2px solid rgb(71, 72, 73);
}

.wheels {
  position: absolute;
}

.wheel {
  width: 120px;
  height: 120px; 
  border-radius: 50%;
  background-color: grey;
  border: 5px dashed darkgrey;
  position: relative;
}

.wheel:first-child {
  right: 191px;
  bottom: 46px;
 
}

.wheel:last-child {
  left: 205px;
  bottom: 165px;
}

.wheel::after {
  content: "";
  width: 50px;
  height: 50px;
  background-color: #000;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 4px dashed rgb(56, 49, 49);
}

.presents {
  position: absolute;
  top: 26%;
  right: 48%;
  transform: translateX(-10px);
}

/* .img-block {
  position: relative;
  max-width: 570px;
  margin: 0 auto;
  min-height: 602px;
}

.img-block img {
  display: block;
  width: 100%;
  height: auto;
}

.img-block__item--circle {
  position: absolute;
  border-radius: 370px;
  background: #32334C;
  width: 370px;
  height: 370px; 
  top: 100px;
  left: 100px;
}

.img-block__item--laptop img {
  width: 255px;
  height: 265px;
  position: absolute;
  top: 24px;
  left: 21px;
}

.img-block__item--laptop {
  background-color: #B550F8;
  width: 246px;
  height: 305px;
  border-radius: 48% 48% 2% 2%;
  position: absolute;
  top: 2px;
  left: 0px;
}

.img-block__item--stars img {
  width: 44px;
  height: 60px;
  position: absolute;
  top: 67px;
  left: 337px;
}

.img-block__item--stars::before {
  content: "";
  background-color: #EF6D58;
  width: 112px;
  height: 112px;
  border-radius: 50%;
  position: absolute;
  top: 40px;
  left: 304px;
}

.img-block__item--cloud {
  width: 112px;
  height: 82px;
  position: absolute;
  top: 82px;
  right: 0px;
}

.img-block__item--girl img {
  width: 246px;
  height: 269px;
  position: absolute;
  top: 36px;
  left: 0px;
}

.img-block__item--girl {
  background-color: #F7CC47;
  width: 245px;
  height: 305px;
  border-radius: 48% 48% 3% 3%;
  position: absolute;
  top: 190px;
  right: 0px;
}

.img-block__item--arrow {
  width: 82px;
  height: 50px;
  position: absolute;
  top: 545px;
  left: 315px;
}

.img-block__item--block img {
  border-radius: 2%;
}

.img-block__item--block {
  width: 214px;
  height: 112px;
  position: absolute;
  top: 430px;
  left: 60px;
}

.img-block__item--big-arrow {
  width: 142px;
  height: 73px;
  position: absolute;
  top: 340px;
  left: 0px;
} */


/* .portfolio__block {
  position: relative;
  max-width: 448px;
  margin: 0 auto;
  min-height: 576px;
}

.portfolio__block-content {
  position: absolute;
  top: 416px;
  left: 48px;
}

.portfolio__block-content-label {
  color: #391400;
  font-family: Epilogue;
  font-size: 16px;
  line-height: 32px;
  margin-bottom: 23px;
}

.portfolio__block-content div {
  width: 84px;
  height: 38px;
  flex-shrink: 0;
  border-radius: 19px;
  background: #FFFFFF;
  padding: 5px 0 0 16px;
}

.portfolio__block-content-title {
  color:#FFFFFF;
  font-family: Epilogue;
  font-size: 40px;
  font-weight: 800;
  line-height: 48px;
}

.portfolio__block-img {
  width: 448px;
  height: 576px;
  position: absolute;
  top: 0;
  left: 0;
}

.portfolio__block::before {
  content: "";
  opacity: 0.3181;
} */



.car-block::before {
  content: "";
  background: url("../img/background.jpg") center / 15px no-repeat;
  display: inline-block;
}

.footer {
    padding: 20px 0;
}

.footer__content > p {
  font-size: 13px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #8d3786;
  text-decoration: underline;
  text-decoration-color: #270742;
  line-height: 120%;
  text-align: center;
}