@import url("https://fonts.googleapis.com/css?family=Epilogue:regular,500,700&display=swap");

@import url("https://fonts.googleapis.com/css?family=DM+Sans:regular,500,600,700&display=swap");

@import url("fonts.css");

/* Скидання стилів */
@import url("reset.css");

body {
  font-family: "Gilroy", sans-serif;
  line-height: 220%;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
}

.header-title {
  font-size: 56px;
  font-weight: 700;
  color: #ecd8ce;
  text-align: center;
  text-decoration: underline;
  text-shadow: 2px 2px 5px #40378d;
  letter-spacing: 5px;
  line-height: 320%;
}


.main__block {
  background: #fdf0e9;
}

.main__container {
  font-family: Epilogue, sans-serif;
  max-width: 970px;
  margin: 0 auto;
  line-height: 32px;
  
}

.main__content-section {
  max-width: 570px;
  box-sizing: border-box;
  margin: 0 auto;
  background: #ecd8ce;
}

.main__content-item {
  color: #391400;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #ef6d58;
  margin-right: 16px;
  text-align: center;
}


.main__content-section div > p {
  background: url(../img/quotes.png) left / 48px 36px no-repeat;
}



.footer {
    padding: 20px 0;
}

.footer-content > p {
  font-size: 13px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #8d3786;
  text-decoration: underline;
  text-decoration-color: #270742;
  line-height: 120%;
  text-align: center;
}