@import url("https://fonts.googleapis.com/css?family=Epilogue:regular,800&display=swap");

@import url("https://fonts.googleapis.com/css?family=Manrope:regular,600,700&display=swap");

@import url("fonts.css");

/* Скидання стилів */
@import url("reset.css");

body {
    font-family: 'Gilroy', sans-serif;
    line-height: 220%;
}

.wrapper{
    min-height: 100%;
    overflow: hidden;
}

.container {
    margin-block-end: 100px;
}

.header-title {
    font-size: 56px;
    font-weight: 700;
    color: rgba(135, 49, 185, 0.813);
    text-align: center;
    text-decoration: underline;
    text-shadow: 2px 2px 5px #40378d;
    letter-spacing: 5px;
    line-height: 320%;
}

.nav-item {
    line-height: 100%;
    color: #7c38d4;
    margin: 0 0 10px 20px;
}

.nav-link {
    font-weight: 500;
    text-decoration-line: underline;
    text-decoration-style: dashed;
    letter-spacing: 2px;
}

.first__block {
    background-color: #FDF0E9;
    padding-top: 100px;
}

.first__container {
    font-family: Epilogue, sans-serif;
    min-height: 640px;
    margin: 0 auto;
    white-space: nowrap;
    max-width: 1200px;
}

.first__content,
.first__content-background {
    width: 48%;
    min-height: 600px;
    display: inline-block;
    vertical-align: text-top;
    white-space: normal;
}

.first__content {
    margin-inline-end: 170px;
}

.first__content-section {
    color: #EF6D58;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 3px;
    text-transform: uppercase;
    height: 32px;
    width: 93px;
}

.first__content-title,
.first__content-text p {
    color: #391400;
}

.first__content-title {
    font-size: 56px;
    font-weight: 800;
    line-height: 64px;
    letter-spacing: -1px;
    margin-block: 20px 26px;
    max-width: 397px;
}

.first__content-text p {
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    height: 72px;
    flex-shrink: 0;
}

.first__content-items {
    margin-block-start: 25px;
}

.first__content-item {
    color: rgba(57, 20, 0, 0.64);
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    background: url("../img/check.svg") 0 0 / 32px no-repeat;
    padding: 2px 0 0 48px;
    min-height: 35px;
    margin-bottom: 16px;
}

.first__content-background {
    min-height: 560px;
    background: 
        url("../img/bitmap.png") 26% 12% / 80px no-repeat,
        url("../img/mask.svg") 23% 10% / 130px no-repeat,
        url("../img/phone.png") center / 470px 290px no-repeat,
        url("../img/path.svg") 3% 77% / 225px no-repeat,
        url("../img/arrow-big.png") 78% 13% / 470px no-repeat,
        url("../img/rectangle.svg") 2% 10% / 450px no-repeat,
        url("../img/orange.svg") 70% 82% / 470px 290px no-repeat;
}


.second__container {
    font-family: Manrope, sans-serif;
    text-align: center;
    margin: 0 auto;
    box-sizing: border-box;
}

.second__block {
    background-color: #000000;
    padding-bottom: 20px;
} 


.second__header-background {
    min-height: 860px;
    background:
    url("../img/vector-center.png") center / 470px no-repeat,
    linear-gradient(0deg, rgba(20,20,20,1) 0%, rgba(20,20,20,0) 100%),
    linear-gradient(0deg, rgba(20,20,20,0) 0%, rgba(20,20,20,1) 100%),
    url("../img/films.png") center / cover no-repeat;
}

.second__content {
    max-width: 1096px;
    margin: 0 auto;
}

.second__content-section {
    text-align: center;
    margin-top: -65px;
}

.second__content-title {
    color: #FFFFFF;
    font-size: 58px;
    font-weight: 700;
    margin-bottom: 14px;
    line-height: 150%;
}

.second__content-section p {
    color: #999999;
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
}

.second__content-btn {
    display: block;
    text-align: center;
}

.second__btn {
    padding: 15px;
    border-radius: 8px;
    background-color: #ff0000;
    margin-top: 50px;
}

.second__btn span {
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 600;
    background: url("../img/icon-btn.png") left / 20px no-repeat;
    padding-left: 24px;
    min-height: 20px;
    display: inline-block;
}


.footer-content > p {
    font-size: 13px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    color: #8d3786;
    text-decoration: underline;
    text-decoration-color: #270742;
    line-height: 120%;
    text-align: center;
}
